@font-face {
  font-family: stylishFont;
  src: url(scd.ttf);
  font-size: large;
}
body{
<<<<<<< HEAD
  background-image: url('gcb.jpg');
  background-color: #70db70;
  background-size: 100%;
  width: 100%
=======
  background-color: #ccff99;
  max-width: 100%;
  border: 0px;
>>>>>>> 68ee43d795f452ba17559bcc1eb050f74386cfdb
}
#main{
  border-radius: 15px;
  background-color: #ffb3b3;
  padding: 30px;
  width: 90%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.input-group{
  padding: 30px;
  margin-left: 30%;
  margin-right: 30%;
}
#info{
  font-family: "Lucida Sans Unicode",serif;
  margin-left: 30%;
  margin-right: 30%;
  max-width: 100%;
  max-height: inherit;
  font-weight: bold;
  font-size: 120%;
}
#sub{
  border-radius: 15px;
  background-color: #cccccc;
}
.jumbotron{
  padding: 20px;
  max-width: 100%;
  font-family: stylishFont,serif;
<<<<<<< HEAD
  background-image: url('acb1.jpg');
  text-align: left;
  text-indent: 40mm;
=======
  background-image: url('acb.png');
  text-align: center;
>>>>>>> 68ee43d795f452ba17559bcc1eb050f74386cfdb
}
#title{
  font-size: 800%;
  color: #208000;
}
#gif{
  margin-left: 33%;
  margin-right: 30%;
  max-width: 100%;
  max-height: inherit;
  padding: 20px;
}
#submit{
  width: 20%;
  margin-left: 40%;
  margin-right: 30%;
  background-image: url('acb.png');
  color: red;
}
